<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payement history</title>
    <link rel="icon" href="../img/british-council-logo-edited.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav>
        <div>
            <div id="up">
                <div>
                    <a href="#">
                        <img src="../img/british-council-logo-final.png" alt="logo">
                    </a>
                    <span>Venu staff portal</span>
                </div>
                <span id="usernameDisplay">Hello username</span>
            </div>
            <div id="down">
                
                <a href="#"><i class="fa-solid fa-house-chimney"></i></a>
                <a href="#">My calander</a>
                <a href="#">My Schedule</a>
                <a href="#">Work History</a>
                <a href="#">Session List</a>
                <a href="#">Training Courses</a>
                <a href="#">Term of Use</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </nav>


    <section>
        <button id="addWorkDayBtn">Add Work Day</button>
        
        <ul id="workDaysList"></ul>
    </section>

    <!-- Form to add work day (initially hidden) -->
    <div id="workDayForm" style="display: none;">
        <form id="addWorkDayForm">
            <label for="Type of test">Type of test:</label>
            <select id="Typeoftest" name="Type of test" required>
                <option value="UKVI">UKVI</option>
                <option value="lifeSkills">Life Skills</option>
                <option value="IELTS">IELTS</option>
                <option value="sharedCost">Shared Cost</option>
            </select>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <label for="startTime">Start Time:</label>
            <input type="time" id="startTime" name="startTime" required>
            <label for="endTime">End Time:</label>
            <input type="time" id="endTime" name="endTime" required>
            <button type="submit">Add</button>
        </form>
    </div>


    <footer id="body-footer"> 
        <div>
        <div class="container"> 
            <div class="bc-site-links"> 
                <a href="http://www.britishcouncil.org/terms">Terms of use</a> 
                <a href="http://www.britishcouncil.org/accessibility">Accessibility</a> 
                <a href="http://www.britishcouncil.org/privacy-cookies">Privacy and cookies</a> 
                <button class="ot-sdk-show-settings btn btn-link">Cookies Settings</button> 
            </div> 
            <div class="bc-copyright"> 
                <p> The United Kingdom's international organisation for cultural relations and educational opportunities.<br> A registered charity: <b>209131</b> (England and Wales) <b>SC037733</b> (Scotland). </p> 
            </div> 
        </div> 
        <div class="bc-footer"> 
            <div > © 2016 British Council <div class="version-info"> <b>Api version</b> 2024.5.8.2234 | <b>Client version</b> 2024.5.8.2234-EP-13838 </div> </div> </div> <script>if(-1==window.location.host.indexOf("britishcouncil.org")){var buttons=document.getElementsByClassName("ot-sdk-show-settings");buttons&&(buttons[0].style.display="none")}</script> 
        </div>
        </footer>
    <script src="../scripts/script.js"></script>
</body>
</html>